---
import "../../styles/global.css";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import BlogLayout from '../../layouts/BlogLayout.astro';
import BlogList from "../../components/BlogList.astro";

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await post.render();
---

<!-- <Layout title={post.data.title}>
  <div>
  <article>
  <div>
    <Content />
  </div>
  </article>
  </div>
</Layout> -->

<BlogLayout title={post.data.title}, pubDate={post.data.pubDate}, lastUpdate={post.data.lastUpdate? post.data.lastUpdate : post.data.pubDate}, language={post.data.lang}, tags={post.data.tags}>
  <Content />
</BlogLayout>